.container {
  /* width: 65px; */
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 10px;
  /* margin: 10px; */
}

.image {
  margin-right: 6px;
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.filtertext {
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
